<link rel="stylesheet" href="/css/bootstrap.min.css" />
{{> Navbar }}
<div class="contain d-flex flex-column text-center justify- content-center align-items-center pt-3" style="height: 80vh;">
  <h1>Bienvenido al mercado WEB, seleccione sus productos</h1>
  {{>Producto}}
</div>  
    <div class="modal fade" id="exampleModal">
      <div class="modal-dialog modal-dialog-centered w-25" role="document">
        <div class="modal-content bg-dark">
          <div class="modal-body">...</div>
        </div>
      </div>
    </div>
{{>Footer}}
<style>
  html {
    height: 100%;
  }
</style>
